* {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
=======
    box-sizing: border-box;
>>>>>>> ccea68f (change the title to my Personal Website)
}

body {
    background-color: black;
    color: #333;
    padding: 20px;
}
h1{
    margin-bottom: 20px;
<<<<<<< HEAD
}
 p{
    font-weight: bold;
}
=======
    color: white;
}
p{
    font-weight: bold;
 }

>>>>>>> ccea68f (change the title to my Personal Website)
nav {
    display: flex;
    gap: 15px;
    background-color: black;
    text-align: center;
    padding: 10px;  
}
nav a{
    color: yellow;
    padding: 10px;
    text-decoration: none;  
         
}
nav a:hover{
    color: red;
}
header{
    padding: 30px;
    margin:auto;
    max-width: 1200px;
}
section{
    margin-bottom: 20px;
}
section h2{
    margin-bottom:10px;
    color: #b5b81b;
    font-size: 24px;
}
section p{
<<<<<<< HEAD
    font size: 16px;
    color: black;
=======
    font-size: 18px;
    color: white;
>>>>>>> ccea68f (change the title to my Personal Website)
}
#Skills ul{
    color: white;
}
strong{
    color: white
}
#Projects {
    list-style-type: none;
    color: white;
}
#Contact a{
    display: inline-block;
    color: orangered;
    font-weight: bold;
    text-decoration: none;
}
#contact a:hover{
    text-decoration: underline;
}
form input[type="text"] {
    width: 40%;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
<<<<<<< HEAD
    color: white;
=======
    background-color: white;
    color: black;
>>>>>>> ccea68f (change the title to my Personal Website)
    margin-bottom:20px;
}
form button[type="submit"]{
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
<<<<<<< HEAD
    color: white;
=======
    color: black;
>>>>>>> ccea68f (change the title to my Personal Website)
    margin-bottom:20px;    
}
form button[type="submit"]:hover{
    background-color: darkgray;
}
footer{
    background-color: #333;
    padding: 10px;
<<<<<<< HEAD
    max-width: 200px;
}
=======
    max-width: 250px;
    color: white;
    border-radius: 30px;
    }
>>>>>>> ccea68f (change the title to my Personal Website)
